.login-page {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page .Buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.login-page .Field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-page .Error {
    text-align: center;
    color: red;
    font-size: 0.8rem;
}

.login-page .Field label {
    flex: 0 0 30%; /* Takes up 30% of the space */
    text-align: right;
}

.login-page .InputFields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.login-page .p-card {
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.login-page .p-card .p-card-title {
    font-size: 2rem;
    color: #495057;
    text-align: center;
    margin-bottom: 2rem;
}

.login-page .p-card .p-card-content {
    padding: 2rem;
}

.login-page .p-inputtext,
.login-page .p-password input {
    border-radius: 8px !important;
    transition: all 0.3s ease;
}

.login-page .p-inputtext:hover,
.login-page .p-password input:hover {
    border-color: #2196F3 !important;
}

.login-page .p-inputtext:focus,
.login-page .p-password input:focus {
    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2) !important;
    border-color: #2196F3 !important;
}

.login-page label {
    color: #495057;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.login-page .p-button {
    height: 2rem;
    font-size: 1.0rem;
    transition: all 0.3s ease;
    background-color: #2196F3 ; 
}

.login-page .p-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(33, 150, 243, 0.2);
    background-color: green;
}

/* Responsive adjustments */
@media screen and (max-width: 480px) {
    .p-card {
        width: 90% !important;
        margin: 1rem;
    }

    .p-card .p-card-title {
        font-size: 1.5rem;
    }

    .p-card .p-card-content {
        padding: 1rem;
    }
}