<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>JasperServlet</servlet-name>
        <servlet-class>com.example.JasperServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JasperServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JasperReportServlet</servlet-name>
        <servlet-class>com.example.JasperReportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JasperReportServlet</servlet-name>
        <url-pattern>/generate_report</url-pattern>
    </servlet-mapping>

</web-app>